<div class="ui tabular menu" style="background-color: #5856DA; border-radius: 0">
  <a class="item" style="color: white; font-size: 16pt">
    <strong>Freelance-kz</strong>
  </a>
  <a class="item" style="color: white; font-size: 13pt">
    Фрилансеры
  </a>
  <a class="item"style="color: white; font-size: 13pt">
    Вакансии
  </a>
  <a class="item"style="color: white; font-size: 13pt">
    Конкурсы
  </a>
  <div class="right menu">
      <div class="ui icon input" style="margin: 15px 15px 15px;
      color:#5856DA;
      background-color: white;
      border-radius: 20px;">
          <i class="search icon" style="color:#5856DA"></i>
          <input type="text" placeholder="Поиск...">
        </div>
      <button class="ui button" 
      style="margin: 15px 15px 15px;
             color:#5856DA;
             background-color: white;
             border-radius: 20px;">
        Вход
      </button>

  </div>
</div>

<router-outlet></router-outlet>